node_modules
.next
.expo
dist
build
**/artifacts
*.log
.DS_Store
.env
.env.*
.env*.local
.firefly.env
env-secrets
*secrets*
**/ios/Pods
**/ios/build
**/android/.gradle
**/android/app/.cxx
**/android/build
**/android/app/build
*.apk
*.aab
*.ipa
.vercel
.superpowers/
